html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

.abs {
  position: absolute;
  padding: 0;
  margin: 0;
}

#right > div {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: #CCCCCC;
  text-align: center;
  color: #666666;
}

#right > div > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}

